# example inventory file to use with https://github.com/timurb/lab-docker-swarm
master   ansible_ssh_host=192.168.77.10   ansible_ssh_user=vagrant
slave    ansible_ssh_host=192.168.77.11   ansible_ssh_user=vagrant

[role-traefik]
master traefik_whoami=true
