# Use https://github.com/timurb/lab-docker-registry as a dockerhub proxy
docker_config: >-
  "registry-mirrors": ["http://10.0.2.2:5000"],
  "insecure-registries":  ["10.0.2.2:5000"]

swarm_mode: false
dashboards_auth: true

# default password is "letmein:letmein" -- redefine it in your setup using htpasswd -n letmein
traefik_env:
  TRAEFIK_PASSWORD: "letmein:$apr1$siZ6wIcE$KtJk6Qdt4rTEJURqYwP8l0"

logging_type: seq
balancer_type: caddy

ansible_ssh_common_args: '-o ProxyCommand="ssh -W %h:%p -q ubuntu@bastion.zurdeploydev.yc.timurb.ru"'

webapp_compose_files:
  - docker-compose.override.yml
